In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
np.random.seed(seed=42)

from collections import Counter

In [40]:
salestrain = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone3\\sales_train.csv')
salestrain

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [12]:
#Original item categories list
itemscat = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone3\\item_categories.csv')
itemscat

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [16]:
#Revised item categories list with data I need
revitemscat = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone3\\newitem_categories.csv', encoding='utf8')
revitemscat

                   item_category_name  item_category_id
0             PC - Гарнитуры/Наушники                 0
1                    Аксессуары - PS2                 1
2                    Аксессуары - PS3                 2
3                    Аксессуары - PS4                 3
4                    Аксессуары - PSP                 4
5                 Аксессуары - PSVita                 5
6               Аксессуары - XBOX 360                 6
7               Аксессуары - XBOX ONE                 7
8                      Билеты (Цифра)                 8
9                     Доставка товара                 9
10              Игровые консоли - PS2                10
11              Игровые консоли - PS3                11
12              Игровые консоли - PS4                12
13              Игровые консоли - PSP                13
14           Игровые консоли - PSVita                14
15         Игровые консоли - XBOX 360                15
16         Игровые консоли - XBOX ONE                16
17           Игровые консоли - Прочие                17
18                         Игры - PS2                18
19                         Игры - PS3                19
20                         Игры - PS4                20
21                         Игры - PSP                21
22                      Игры - PSVita                22
23                    Игры - XBOX 360                23
24                    Игры - XBOX ONE                24
25          Игры - Аксессуары для игр                25
26               Игры Android - Цифра                26
27                   Игры MAC - Цифра                27
28   Игры PC - Дополнительные издания                28
29    Игры PC - Коллекционные издания                29
30      Игры PC - Стандартные издания                30
31                    Игры PC - Цифра                31
32  Карты оплаты (Кино, Музыка, Игры)                32
33               Карты оплаты - Live!                33
34       Карты оплаты - Live! (Цифра)                34
35                 Карты оплаты - PSN                35
36     Карты оплаты - Windows (Цифра)                36

In [15]:
items = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone3\\items.csv')
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [17]:
#Joining item_name and item_category_name using item_category_id
itemsandcat = pd.merge(items, revitemscat, on='item_category_id')
itemsandcat

,item_name,item_id,item_category_id,item_category_name
0,"007 Legends [PS3, русская версия]",27,19,Игры - PS3
1,"2014 FIFA World Cup [PS3, английская версия]",948,19,Игры - PS3
2,"2014 FIFA World Cup. Champion's Edition [PS3, ...",950,19,Игры - PS3
3,"Adidas miCoach (только для PS Move) [PS3, англ...",1359,19,Игры - PS3
4,"Air Conflicts: Pacific Carriers [РS3, русские ...",1372,19,Игры - PS3
...,...,...,...,...
4386,Карта оплаты Windows: 2000 рублей [Цифровая ве...,13092,36,Карты оплаты - Windows (Цифра)
4387,Карта оплаты Windows: 250 рублей [Цифровая вер...,13093,36,Карты оплаты - Windows (Цифра)
4388,Карта оплаты Windows: 2500 рублей [Цифровая ве...,13094,36,Карты оплаты - Windows (Цифра)
4389,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра)
4390,Карта оплаты Windows: 750 рублей [Цифровая вер...,13096,36,Карты оплаты - Windows (Цифра)

In [18]:
#copying the first set of dateframes joined
ogrevitemsandcat = itemsandcat.copy()
ogrevitemsandcat

,item_name,item_id,item_category_id,item_category_name
0,"007 Legends [PS3, русская версия]",27,19,Игры - PS3
1,"2014 FIFA World Cup [PS3, английская версия]",948,19,Игры - PS3
2,"2014 FIFA World Cup. Champion's Edition [PS3, ...",950,19,Игры - PS3
3,"Adidas miCoach (только для PS Move) [PS3, англ...",1359,19,Игры - PS3
4,"Air Conflicts: Pacific Carriers [РS3, русские ...",1372,19,Игры - PS3
...,...,...,...,...
4386,Карта оплаты Windows: 2000 рублей [Цифровая ве...,13092,36,Карты оплаты - Windows (Цифра)
4387,Карта оплаты Windows: 250 рублей [Цифровая вер...,13093,36,Карты оплаты - Windows (Цифра)
4388,Карта оплаты Windows: 2500 рублей [Цифровая ве...,13094,36,Карты оплаты - Windows (Цифра)
4389,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра)
4390,Карта оплаты Windows: 750 рублей [Цифровая вер...,13096,36,Карты оплаты - Windows (Цифра)

In [33]:
#Joining item_name and item_category_name using item_id
itemscatprice = pd.merge(itemsandcat, salestrain , on='item_id')
itemscatprice

,item_name,item_id,item_category_id,item_category_name,date,date_block_num,shop_id,item_price,item_cnt_day
0,"007 Legends [PS3, русская версия]",27,19,Игры - PS3,02.01.2013,0,19,2499.0,1.0
1,"007 Legends [PS3, русская версия]",27,19,Игры - PS3,09.01.2013,0,26,2499.0,1.0
2,"007 Legends [PS3, русская версия]",27,19,Игры - PS3,11.01.2013,0,2,2499.0,1.0
3,"007 Legends [PS3, русская версия]",27,19,Игры - PS3,12.01.2013,0,1,1890.0,1.0
4,"007 Legends [PS3, русская версия]",27,19,Игры - PS3,19.01.2013,0,10,1890.0,1.0
...,...,...,...,...,...,...,...,...,...
1172675,Карта оплаты Windows: 2500 рублей [Цифровая ве...,13094,36,Карты оплаты - Windows (Цифра),22.09.2015,32,55,2500.0,2.0
1172676,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра),30.08.2015,31,55,500.0,1.0
1172677,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра),30.09.2015,32,55,500.0,1.0
1172678,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра),08.10.2015,33,55,500.0,1.0
1172679,Карта оплаты Windows: 500 рублей [Цифровая вер...,13095,36,Карты оплаты - Windows (Цифра),22.10.2015,33,55,500.0,2.0

In [39]:
itemscatprice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1172680 entries, 0 to 1172679
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   item_name           1172680 non-null  object
 1   item_id             1172680 non-null  int64
 2   item_category_id    1172680 non-null  int64
 3   item_category_name  1172680 non-null  object
 4   date                1172680 non-null  object
 5   date_block_num      1172680 non-null  int64
 6   shop_id             1172680 non-null  int64
 7   item_price          1172680 non-null  float64
 8   item_cnt_day        1172680 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 89.5+ MB

In [34]:
itemscatprice.describe()

,item_id,item_category_id,date_block_num,shop_id,item_price,item_cnt_day
count,1.172680e+06,1.172680e+06,1.172680e+06,1.172680e+06,1.172680e+06,1.172680e+06
mean,5.828494e+03,2.373887e+01,1.471305e+01,3.230585e+01,1.486796e+03,1.312300e+00
std,3.991683e+03,7.254863e+00,9.305515e+00,1.660293e+01,2.483827e+03,3.424044e+00
min,2.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-9.000000e+00
25%,3.076000e+03,1.900000e+01,7.000000e+00,1.900000e+01,4.980000e+02,1.000000e+00
50%,4.904000e+03,2.300000e+01,1.400000e+01,3.100000e+01,8.990000e+02,1.000000e+00
75%,6.953000e+03,3.000000e+01,2.300000e+01,4.700000e+01,1.749000e+03,1.000000e+00
max,2.216500e+04,3.600000e+01,3.300000e+01,5.900000e+01,5.920000e+04,2.169000e+03

In [30]:
itemscatprice[(itemscatprice.item_category_id == '14') & (itemscatprice.item_category_id == '12')]

E:\miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [item_name, item_id, item_category_id, item_category_name, date, date_block_num, shop_id, item_price, item_cnt_day]
Index: []

In [38]:
itemscatprice[(itemscatprice.item_category_id >= '14') & (itemscatprice.item_category_id >= '12')]

TypeError: Invalid comparison between dtype=int64 and str

In [32]:
itemscatprice[itemscatprice.item_category_id == '14']

Empty DataFrame
Columns: [item_name, item_id, item_category_id, item_category_name, date, date_block_num, shop_id, item_price, item_cnt_day]
Index: []

In [36]:
itemscatprice1 = itemscatprice.query('item_category_id.str.contains("14")')
itemscatprice1

AttributeError: 'Load' object has no attribute '__name__'